<!--<div class="filter-detail-view">-->
<div id="colorboxContentContainer">
    <div id="colorboxContent">
        <h1>
            Flight Details</h1>
        <div class="popupInner">
            <div class="popupLeft">
                <h2>
                    <%
			var OutboundtmpNumStops;
			if(outboundNumStops == '0'){
				OutboundtmpNumStops = 'Direct';
			}			
			else{
				OutboundtmpNumStops = outboundNumStops + ' stops';
			}
                    %>
                    Outbound (<%=OutboundtmpNumStops%>)</h2>
                <p>
                    <%=originAirport%><%=departureTime %>
                    &rarr;
                    <%=destinationAirport%><%=arrivalTime %>
                    <b>Total Flight Time</b> <%=Outboundtimespan %></p>
                <div class="popupLegs">
                    <img src="../public_html/workspace/images/colorbox/time-zone.png" alt="" class="timezone" />
                    <div class="innerLeg">
                        <% if(outboundNumStops == '0'){ %><h3>
                            Leg1</h3>
                        <p class="sourceAndDestination">
                            <%=originAirportName%>(<%=originAirport%>)
                            <%=departureTime%>
                            to
                            <%=destinationAirportName%>
                            (<%=destinationAirport%>)
                            <%=arrivalTime %></p>
                        <p>
                            <span class="spanColor">Airline</span>
                            <%=outboundAirlineName %>
                            <span class="spanColor">Flight Number</span>
                            <%=outboundFlightNumber %></p>
                        <p>
                            <span class="spanColor">Class</span>
                            <%=outboundFlightClass %>
                            <span class="spanColor">Duration</span> <%=Outboundtimespan %></p>
                        <% }%>
                    </div>
                </div>
            </div>
            <div class="popupRight">
                <h2>
                    <%
			var InboundtmpNumStops;
			if(returnNumStops == '0'){
				InboundtmpNumStops = 'Direct';
			}
			else if(returnNumStops == '1'){
				InboundtmpNumStops = returnNumStops + ' stop';
			}
			else{
				InboundtmpNumStops = returnNumStops + ' stops';
			}
                    %>
                    Inbound (<%=InboundtmpNumStops%>)</h2>
                <p>
                    <%=destinationAirport%><%=returnHomeDepartTime%>
                    &rarr;
                    <%=originAirport%><%=returnHomeTime %>
                    <b>Total Flight Time</b> <%=Inboundtimespan %></p>
                <div class="popupLegs">
                    <img src="../public_html/workspace/images/colorbox/time-zone.png" alt="" class="timezone" />
                    <div class="innerLeg">
                        <% if(returnNumStops == '0'){ %><h3>
                            Leg1</h3>
                        <p class="sourceAndDestination">
                            <%=destinationAirportName%>(<%=destinationAirport%>)
                            <%=returnHomeDepartTime%>
                            to
                            <%=originAirportName%>
                            (<%=originAirport%>)
                            <%=returnHomeTime %></p>
                        <p>
                            <span class="spanColor">Airline</span>
                            <%=returnAirlineName %>
                            <span class="spanColor">Flight Number</span>
                            <%=returnFlightNumber %></p>
                        <p>
                            <span class="spanColor">Class</span>
                            <%=returnFlightClass %>
                            <span class="spanColor">Duration</span> <%=Inboundtimespan %></p>
                        <% }%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
