<div id="search-ui-header" class="clearfix">

	<div class="header-top clearfix">
		<div class="header-left">
			<div class="header-logo">
				<a href="/"> </a>
			</div>
		</div>
		<div class="header-right">
			<div class="header-help">
				<a href="{$root}/contact/">Need Help? &nbsp; Call <strong>01372 253 229</strong></a>
			</div>
		</div>
	</div>
	
	<div class="clearfix header-bottom">
		<div class="header-status"></div>
		<div class="header-progress"></div>
		<div class="header-form"></div>
	</div>
	
</div>