<!--<div class="hotels-detail-about-view">-->
<div class="detail-about-inner">
	<h1>
		<%= accommodationName %>
		<span class="rating"><%= stars(classCode,5) %></span>
	</h1>
	
	<h2>The Low Down</h2>
	<div class="description-wrapper">
		
		<%
			var lenToDisplay = 400;
			if(description.length < 600){lenToDisplay=description.length}
		%>
		<p class="description short-text">
			<%= flattenAndTruncate('<div>'+description+'</div>',lenToDisplay) %>
		</p>
		<% if (description.length > lenToDisplay){ %>
		
			<p class="description full-text">
				<%= description %>
			</p>
			
			
		<% } %>
	</div>
	<% if (description.length > lenToDisplay){ %>
		<p class="clearfix">
			<a class="read-more">Read More</a>
		</p>
	<% } %>
</div>