<!--<div class="search-ui-hotel-detail-booking">-->
<div class="summary-header">
	<h2>Book Your Holiday</h2>
</div>

<div class="summary-outer">
	<div class="summary-inner clearfix">
		
		<div class="item item-holiday">
			<ul>
				<li>5 Nights From 1st Jan 2012</li>
				<li>Cosmopolitan Hotel</li>
				<li>Easy Jet Flights</li>
			</ul>
			<div class="total">£879.00</div>
		</div>
		
		<div class="item item-atol">
			<div class="total">£15.00</div>
			<ul>
				<li>ATOL Travel Protection</li>
			</ul>
		</div>
		
		<div class="item item-proceed">
			<div class="clearfix">
				<div class="total">£894.00</div>
				<div class="total-left">Total</div>
			</div>
			<div class="book-now">
				<a href="#" class="action-button action-next yellow clearfix">
					<span class="btn-arrow black right"></span>Book Your Holiday
				</a>
				<div class="proceed-message">
					<%=callUsMessage%>
				</div>
			
		</div>

	</div>
</div>