<!--<div class="search-ui-hotels-detail-flight">-->
<h2 class="summary-flight-header">Your Flights</h2>

<div class="summary-flight-inner clearfix">
	
	<% if(flightSelected){ %>
		<div class="clearfix">
			<div class="flight-item clearfix">
				<%
					var tmpNumStops;
					if(outboundNumStops == '0'){
						tmpNumStops = 'Direct';
					}
					else if(outboundNumStops == '1'){
						tmpNumStops = outboundNumStops + ' stop';
					}
					else{
						tmpNumStops = outboundNumStops + ' stops';
					}
				%>
				<h3>Outbound (<%=tmpNumStops%>)</h3>
				<div class="clearfix">
					<div class="airline-logo">
						<% if(outboundFlightLogo != null){ %>
							<img src="<%=imageUrl({
								filename: outboundFlightLogo.imageFilename,
								path: outboundFlightLogo.imagePath,
								height: outboundFlightLogo.imageHeight,
								width: outboundFlightLogo.imageWidth,
								},80,40,'fit')%>"/>
						<%}else{ %>
							<%= outboundAirlineName%>
						<%}%>
					</div>
					<div class="flight-info">
						<p class="flight-class">
							<%=outboundCabinClass%> Class
						</p>
						<p>
							<span><%= originAirport %> </span>
							<span><%= departureTime %></span>
							<span> &rarr; </span>
							<span><%= destinationAirport %> </span>
							<span><%= arrivalTime %></span>
						</p>
					</div>
				</div>
			</div>
			<div class="flight-item last clearfix">
				
				<%
					var tmpNumStops;
					if(returnNumStops == '0'){
						tmpNumStops = 'Direct';
					}
					else if(returnNumStops == '1'){
						tmpNumStops = returnNumStops + ' stop';
					}
					else{
						tmpNumStops = returnNumStops + ' stops';
					}
				%>
				
				<h3>Return (<%= tmpNumStops %>)</h3>
				<div class="clearfix">
					<div class="airline-logo">
						<% if(returnFlightLogo != null){ %>
							<img src="<%=imageUrl({
								filename: returnFlightLogo.imageFilename,
								path: returnFlightLogo.imagePath,
								height: returnFlightLogo.imageHeight,
								width: returnFlightLogo.imageWidth,
								},100,40,'fit')%>"/>
						<%}else{ %>
							<%= returnAirlineName%>
						<%}%>
					</div>
					<div class="flight-info">
					
						<p class="flight-class">
							<%=outboundCabinClass%> Class
						</p>
						<p>
							<span><%= destinationAirport %> </span>
							<span><%= returnHomeDepartTime %></span>
							<span> &rarr; </span>
							<span><%= originAirport %> </span>
							<span><%= returnHomeTime %></span>
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="actions clearfix">
			<a href="#" class="action action-edit">Change Flight</a>
			<a href="#" class="action action-detail">Flight Detail</a>
		</div>
		
	<% }else{ %>
		<div class="loading">
			<h2>Flights Loading...</h2>
		</div>
	<%}%>
</div>