<!--<div class="sidebar-static-view">-->
<div class="static-inner clearfix">
	<div class="item">
		<div class="item-left">
			<div class="atol"></div>
		</div>
		<div class="item-right">
			<h4>We're ATOL Protected</h4>
			<p>There's no chance of losing money or being stranded abroad
			</p>
		</div>
	</div>
	<div class="item clearfix">
		<div class="item-left">
			<div class="pts"></div>
		</div>
		<div class="item-right">
			<h4>Safe and Secure</h4>
			<p>All bookings are made over our secure servers</p>
		</div>
	</div>
	<div class="item">
		<div class="cc"></div>
	</div>
</div>