<!--<div class="search-ui-travellers-edit-item-view">-->
<div class="item-view-inner">
	<div class="item-view-header">
		<span class="traveller-no">Traveller <%= travellerNo %></span>
		<span class="traveller-name"></span>
	</div>
	<div class="item-view-body">
	
		<div class="body-top clearfix">
			<div class="col gender">
				<select name="field-gender" class="field-gender field">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
			<div class="col title">
				<select name="field-title" class="field-title field">
					<option value="Mr">Mr</option>
					<option value="Mrs">Mrs</option>
					<option value="Miss">Miss</option>
					<option value="Dr">Dr</option>
				</select>
			</div>
			<div class="col first-name">
				<div class="field-wrapper">
					<input name="field-first-name" class="field field-first-name" type="text" />
				</div>
			</div>
			
			<div class="col middle-name">
				<div class="field-wrapper">
					<input name="field-middle-name" class="field field-middle-name" type="text" />
				</div>
			</div>
			
			<div class="col last-name">
				<div class="field-wrapper">
					<input name="field-last-name" class="field field-last-name" type="text" />
				</div>
			</div>
			
			<div class="col dob last">
				<div class="field-wrapper">
					<input name="field-dob" class="field field-dob" type="text" />
				</div>
			</div>
		
		</div>
		<div class="body-bottom clearfix">
			<div class="col nation">
				<div class="field-wrapper">
					<input name="field-nation" class="field field-nation" type="text" />
				</div>
			</div>
			<div class="col passport-no">
				<div class="field-wrapper">
					<input name="field-passport-no" class="field field-passport-no" type="text" />
				</div>
			</div>
			
			<div class="col passport-issue">
				<div class="field-wrapper">
					<input name="field-passport-issue" class="field field-passport-issue field-date" type="text" />
				</div>
			</div>
			
			<div class="col passport-expiry last">
				<div class="field-wrapper">
					<input name="field-passport-expiry" class="field field-passport-expiry field-date" type="text" />
				</div>
			</div>
		</div>
	
	</div>
</div>