<!--<div class="search-ui-travellers-contact-view">-->
<div class="contact-view-inner">
	<div class="form-header">
		<h2>Please enter your contact information</h2>
	</div>
	
	<div class="form-row clearfix">
		<div class="form-col">
			<input type="text" name="field-name" class="field-name" />
		</div>
		<div class="form-col">
			<input type="text" name="field-email" class="field-email" />
		</div>
		<div class="form-col last">
			<input type="text" name="field-phone" class="field-phone" />
		</div>
	</div>
	
	<div class="form-row clearfix">
		<div class="form-col">
			<input type="text" name="field-address-1" class="field-address-1" />
		</div>
		<div class="form-col ">
			<input type="text" name="field-address-2" class="field-address-2" />
		</div>
	</div>
	
	<div class="form-row clearfix">
		<div class="form-col">
			<input type="text" name="field-address-city" class="field-address-city" />
		</div>
		<div class="form-col">
			<input type="text" name="field-address-postcode" class="field-address-postcode" />
		</div>
		<div class="form-col last">
			<input type="text" name="field-address-country" class="field-address-country" />
		</div>
	</div>
</div>