._*
public_html/content
.Apple*
.DS_Store
.localised
*.esproj
pear/
.bashrc
.pearrc
.bash_history
.ssh
mysql_backups/
subsectionmanager-storage
*~
*.geany
install-log.txt
public_html/.htaccess
public_html/install/
public_html/install.php
public_html/manifest/config.php
curl_cookie.txt