<!--<div class="home-aboutus">-->
<div class="header">
	<%= header.unescape() %>
</div>
<div class="body clearfix">
	<div class="body-one">
		<div class="body-inner clearfix">
			<h3 class="body-l">1.</h3>
			<div class="body-r">
				<%= column1.unescape() %>
				
				<div class="logos clearfix">
					<div class="pts"></div>
					<div class="atol"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="body-two">
		<div class="body-inner clearfix">
			<h3 class="body-l">2.</h3>
			<div class="body-r">
				<%= column2.unescape() %>
			</div>
		</div>
	</div>
	<div class="body-three">
		<div class="body-inner clearfix">
			<h3 class="body-l">3.</h3>
			<div class="body-r">
				<%= column3.unescape() %>
			</div>
		</div>
	</div>
</div>